$font: 'Roboto', sans-serif;
$weight-min: 300;
$weight-mid: 500;
$weight-max: 700;
$black: #212121;
$grey: #EEEEEE;
$teal: #32E0C4;
$surfie-green:#0D7377;
$white: #ffffff;

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: $teal;
  font-family: $font;
}

h1{
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
  color: $white;
  font-weight: $weight-max;

}

.container {
  display: flex;
  justify-content: space-between;
}

.square{
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: $grey;
  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: $weight-min;
  }

  &-form{
    display: flex;
    flex-direction: column;
    button{
      height: 35px;
      border-radius: 5px;
      border: 1px solid $black;
    }
    
    button:hover {
      cursor: pointer;
      background-color: $black;
      color: $white;
    }
  }

}

.form-check {
  margin-bottom: 10px;
  input{
    margin: 0;
  }
  
  label {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    padding: 0 0 0 5px;
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  label{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  input{
    margin: 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
  }

  &_warnings{
    color: red;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    display: none;
  }
}

.triangle {
  @extend .square;
  &-select{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
    margin-bottom: 10px;
  }

  form{
    display: flex;
    flex-direction: column;
    button{
      height: 35px;
      border-radius: 5px;
      border: 1px solid $black;
    }
    
    button:hover {
      cursor: pointer;
      background-color: $black;
      color: $white;
    }
  }


  
}

.circle {
  @extend .square;
}


/*




body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--teal);
}

h1{
  text-align: center;
  padding: 2rem;
  font-weight: 700;
  color: var(--white);
}

.container {
  display: flex;
  justify-content: space-between;
}

.card-square{
  background-color: var(--grey);
  width: 30%;
  border-radius: 10px;
  padding: 10px;
}

.card-square h2{
  text-align: center;
  font-size: 18px;
}

.form-square {
  display: flex;
  flex-direction: column;
}

.form-square_text {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 300;
  
}

.square-check {
  margin-bottom: 10px;
}

.square-check_input{
  margin: 0;
}

.square-check_label {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  padding: 0 0 0 5px;
}

.form-square_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-square_label{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.form-square_input{
  margin: 0;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.form-square button{
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-square button:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.warning-square {
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  display: none;
}

.warning-square_show {
  display: block;
} 
.warning-square_input {
  border: 1px solid red;
}

.form-square_result {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  color: var(--surfie-green);
  margin: 0;
}

.card-triangle{
  background-color: var(--grey);
  width: 30%;
  border-radius: 10px;
  padding: 10px;
}

.show {
  display: block;
}

.form-select{
  margin: 0;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.margin-b10{
  margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}*/

